@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    @apply bg-gray-700;
  }
} */

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.poppins {
  font-family: 'Poppins', sans-serif;
}